<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Honk</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="chat_container">
    here
  </div>

  <footer class="page-footer teal stick_bottom">
    <div class="chat_message">
      <div class="row">
        <div class="input-field col s11">
          <input placeholder="Write On . . . " id="chat_msg" type="text" class="validate">
        </div>
        <div class="input-field col s1">
      <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">send</i></a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      by <a class="brown-text text-lighten-3" href="anistark.github.io">AniStark</a>
      </div>
    </div>
  </footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/public/js/materialize.js"></script>
  <script src="/public/js/init.js"></script>

  </body>
</html>
