extends layouthome

block content
    h1= title

    // Wrapper
    #wrapper
        // Sidebar
        #sidebar-wrapper
            
        // /Sidebar

        // Page Content
        	
        // /Page Content

    // /WRAPPER
