extends layouthome

block content

	// Wrapper
	#wrapper
		// Sidebar
		#sidebar-wrapper
			ul.sidebar-nav
				li.sidebar-brand
					<a href="#">UserName</a>
		// /Sidebar

		// Page Content
		#page-content-wrapper
			div.container-fluid
				div.row
					div.col-lg-12
						p
							<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><img src="/images/menubutton.png" height="10" width="auto"></a>
		// /Page Content
	// /WRAPPER

