extends chat_layout

block content
  div(class="container col-md-12" id="main")
    div(ng-controller='AppCtrl')
      div(class="row")
        div(class="col-md-10 chat-wind")
          .overflowable
            p(ng-repeat='message in messages',
              ng-class='{alert: message.user == "chatroom"}') {{message.user}}: {{message.text}}\

        div(class="col-md-2 chat-members")
          .overflowable
            p(ng-repeat='user in users') {{user}}

      hr
      div(class="row")
        div(class="col-md-12 text-center chat-footer")
          div(class="col-md-2 text-center")
            a(href="#changeUsername" role="button" data-toggle="modal"): span(class="btn btn-warning") {{name}}
          form(ng-submit='sendMessage()')
            div(class="col-md-8")
              input(class="form-control" size='60', ng-model='message')
            div(class="col-md-2")
              input(class="btn btn-success" type='submit', value='Send')

      div(id="changeUsername" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true")
        div(class="modal-dialog")
          div(class="modal-content")
            form(ng-submit='changeName()')
              div(class="modal-header")
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true") x
                h2(class="text-center") About
              div(class="modal-body")
                input(class="form-control" placeholder="{{name}}" value="{{name}}" ng-model='newName')
              div(class="modal-footer")
                input(type='submit' class="btn btn-success", value='Change Name')