/* app css stylesheet */

.overflowable {
  height: 415px;
  overflow-y: auto;
  padding: 1px;
  background-color: #eee;
}

.overflowable p {
  margin: 0;
}

.col {
  float: left;
  width: 100%;
}

.clr {
  clear: both;
}